.background-single-player {
    height: 100vh;
    width: 100vw;
    background: url('images/main-img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(0.4);
}